/* 기본 스타일 */
html, body {
  font-family: 'Jua', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('tbd.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;  /* 화면 전체 높이 설정 */
  flex-direction: column;
  font-weight: 400;
  font-style: normal;
}

body {
  padding-top: 60px;
}

/* 텍스트와 버튼을 감싸는 컨테이너 */
.container {
  text-align: center;  /* 텍스트와 버튼을 중앙 정렬 */
}

/* 제목 스타일 */
h1 {
  color: #dfdfdf;
  font-size: 4rem;
  margin: 0;
  font-weight: lighter;
}

h2 {
  color: #333;
  font-size: 2.2vw;
  margin: 20px 0; /* 상하 간격을 동일하게 설정 */
  font-weight: lighter;
}

h3 {
  color: #ffd2d2;
  font-size: 1.5rem;
  margin-bottom: 40px;
  font-weight: lighter;
}

#topTrack {
  font-size: 33px;
}

/* 버튼 스타일 */
button {
  font-family: "Jua", sans-serif;
  font-weight: lighter;
  background-color: #007BFF;
  color: white;
  padding: 30px; /* 버튼의 크기 조정 */
  font-size: 28px; /* 버튼 글씨 크기 */
  font-weight: bold;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  width: 30vw;
  height: 10vw;
  word-wrap: break-word;
  margin: 0 auto; /* 버튼을 중앙에 정렬 */
  margin-top: 10px; /* 버튼과 상단 텍스트 간격을 동일하게 설정 */
  margin-bottom: 40px; /* 버튼 아래 간격 추가 */
}

#start-button button {
  font-size: 45px;
}
/* 마우스를 올렸을 때 버튼 색상 변경 */
button:hover {
  background-color: #0056b3;
}

/* 질문 컨테이너 스타일 */
#question-container {
  background-color: rgba(255, 255, 255, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  padding: 40px 60px 80px; /* 하단 패딩을 80px로 늘려서 아래 간격 증가 */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 90%;
  max-width: 1400px;
  min-width: 800px;
}

.result {
  margin: 20px 0;
}

/* 진행 바를 감싸는 div */
.progress-bar {
  background-color: #e0e0e0;
  width: 90%; /* 막대의 너비를 화면의 90%로 설정 */
  height: 50px; /* 바의 높이를 충분히 크게 설정 */
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  position: relative;
  max-width: 1400px; /* 최대 너비 설정 */
  margin: 40px auto -10px; /* 가운데 정렬 */
}

/* 각 막대 */
.bar {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 1.2rem;
  color: white; /* 바 안의 텍스트 색상 */
  text-align: center;
}

/* 바 안의 텍스트 */
.bar-text {
  position: absolute;
  width: 100%;
  text-align: center;
  white-space: nowrap; /* 텍스트가 줄 바꿈되지 않도록 설정 */
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 텍스트가 바깥에 있을 경우 표시할 스타일 */
.legend {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin-bottom: -10px;
}

.legend p {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  margin-top: 50px; /* "당신의 선택은?"과 버튼 사이의 간격 */
}

.vs-text {
  font-size: 3vw;
  font-weight: bold;
  text-align: center;
  color: #333;
  margin: 0;
}

.restart-button {
  margin-top: 20px;
  padding: 5px 15px;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 60px;
  width: 150px;
  margin: 30px auto -10px; /* 버튼을 중앙에 정렬 */
}

.restart-button:hover {
  background-color: #0056b3;
}

/* 내비게이션 버튼 컨테이너 */
.navigation-container {
  display: flex;
  justify-content: space-between;  /* 버튼을 양끝으로 밀음 */
  width: 100%;
  margin-top: 40px;  /* 위쪽 간격을 더 많이 줌 */
  position: relative;
  bottom: -30px;  /* 버튼을 아래로 더 내림 */
}

/* 이전, 다음 버튼 스타일 */
.prev-button, .next-button {
  padding: 5px 10px; /* 버튼 내부 여백을 줄임 */
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 150px;  /* 버튼 너비를 약간 줄임 */
  height: 80px;  /* 버튼 높이를 약간 줄임 */
  font-size: 1.5rem;  /* 폰트 크기를 줄여 버튼을 더 작게 만듦 */
  margin: 0 10px;  /* 양쪽 끝 간격을 추가 */
  margin-top: -50px;
}

/* 버튼 호버 상태 스타일 */
.prev-button:hover, .next-button:hover {
  background-color: #0056b3;
}

/* 이전 버튼이 비활성화되었을 때 스타일 */
.prev-button:disabled {
  background-color: #CCCCCC;
  cursor: not-allowed;
}

.next-button:disabled {
  background-color: #CCCCCC;
  cursor: not-allowed;
}

/* 헤더 스타일 */
header {
  background-color: #333; /* 헤더의 배경색을 어두운 회색(#333)으로 설정 */
  color: white; /* 헤더 안의 텍스트 색상을 흰색으로 설정 */
  padding: 3px 20px; /* 헤더 안의 모든 요소에 위, 아래, 좌, 우 10px의 여백 추가 */
  text-align: center; /* 텍스트를 가운데 정렬 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 60px;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 1000;
  margin-top: -5px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  margin: 0;
  font-size: 24px;
  color: white;
  text-align: center;
  margin-right: 15px;
  font-weight: 500;
}

.header-logo {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

/* 푸터 스타일 */
footer {
  background-color: #333; /* 푸터의 배경색을 어두운 회색(#333)으로 설정 */
  color: white; /* 푸터 안의 텍스트 색상을 흰색으로 설정 */
  padding: 0 20px; /* 좌우 20px의 패딩 추가 (세로 패딩 제거) */
  position: fixed; /* 푸터를 페이지 하단에 고정 */
  bottom: 0; /* 페이지의 가장 아래에 위치 */
  left: 0; /* 페이지의 왼쪽에 맞춰 고정 */
  width: 100%; /* 푸터가 페이지 전체 너비를 차지하도록 설정 */
  height: 60px; /* 푸터의 높이를 60px로 고정 */
  z-index: 1000; /* 다른 콘텐츠보다 위에 오도록 z-index 값을 높게 설정 */
  display: flex; /* 플렉스 박스를 사용해 정렬 */
  justify-content: center; /* 가로 축을 기준으로 중앙 정렬 */
  align-items: center; /* 세로 축을 기준으로 중앙 정렬 */
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 1000;
}

/* 푸터 안의 컨텐츠 */
.footer-content {
  display: flex; /* p와 이미지가 나란히 배치되도록 플렉스 박스 적용 */
  align-items: center; /* 세로 축 기준으로 이미지와 p를 중앙 정렬 */
  justify-content: center; /* 가로 축 기준으로 이미지와 p를 중앙 정렬 */
}

/* 푸터 안의 텍스트 스타일 */
footer h1 {
  margin-bottom: 3px; /* 기본 여백 제거 */
  font-size: 16px; /* 푸터 텍스트 크기 */
  text-align: center;
  color: #CCCCCC;
  margin-right: 10px; /* 이미지와 텍스트 사이에 여백 추가 */
}

/* 푸터 이미지 스타일 */
.footer-logo {
  width: 40px; /* 이미지의 너비 설정 */
  height: 40px; /* 이미지의 높이 설정 */
  object-fit: cover; /* 이미지가 왜곡되지 않도록 설정 */
}

.sidebar {
  position: fixed;
  top: 20%;
  right: 20px;
  width: 150px;
  padding: 15px;
  background-color: #f8f8f8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1000;
}

.sidebar h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #333;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  font-size: 1rem;
  margin: 5px 0;
}
